body {
    background: #f5f6fa;
}

/* BOX */
body{
    background:#f5f6fa;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:100%;
    max-width:450px;
}

.login-box {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0,0,0,0.05);
}

/* HEADER */
.login-header {
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    color: #fff;
    text-align: center;
    padding: 30px 20px;
}

/* FORM */
.login-box form {
    padding: 20px;
}

.form-control{
    height:48px;
}

.input-group-text {
    background: #f0f2f5;
}

/* BUTTON */
.btn.register-btn{
    background: linear-gradient(135deg,#3b82f6,#9333ea);
    color:#fff !important;
    border:none;
}

.register-btn:hover{
    opacity:.95;
    transform:translateY(-1px);
}

.register-btn{
    transition:.25s;
}

/* BACK */
.back-link{
    display:inline-block;
    margin-bottom:15px;
    text-decoration:none;
    color:#333;
    font-weight:600;
}

.back-link:hover{
    color:#2563eb;
}

.toggle-password{
    cursor:pointer;
}